/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.smaller-text {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    max-width: 100%; /* Ancho máximo del contenedor */
}

.reduced-height {
    max-height: 650px; /* Altura máxima deseada para la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
}

.hombre-pequeno-derecha {
    max-width: 450px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    float: right; /* Flota la imagen a la derecha */
    margin-left: 20px; /* Añade un margen a la izquierda para separar del texto */
}

.btn-blue {
    background-color: lightblue !important; /* Fondo azul para el botón */
  }
  
  .text-orange {
    color: darkorange !important; /* Color del texto naranja */
  }
  
  .border-orange {
    border-color: darkorange !important; /* Color del borde naranja */
  }
  
  .text-bold {
    font-weight: bold; /* Hace que el texto sea más grueso, como negrita */
  }