.smaller-text {
  font-size: 14px;
  max-width: 100%;
}

.full-image {
  max-height: 650px;
  object-fit: cover;
  width: 100%;
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.hombre-pequeno-derecha {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.text-orange {
  color: darkorange !important;
}

.border-orange {
  border-color: darkorange !important;
}

.text-bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .hombre-pequeno-derecha {
      float: right;
      margin-left: 20px;
  }

  .position-relative .d-none.d-md-block {
      top: 40%;
  }
}

.stars-container {
  text-align: center;
}
