
.card {
    margin-top: 20px;
  }
  
  .card-body {
    padding: 30px;
  }
  
  .text-white {
    color: white;
  }

  .profile-pic{
    width: 100px;
    height: 100px;
    border-radius:50%
    
  }

  #edit{
    color: rgb(215, 120, 11);
  }

  /* Estilos para las barras de colores del BMI */
